[package]
name = "bob"
version = "1.5.0-alpha.3"
authors = ["Kirill Bushminkin <kb@qoollo.com>", "Pavel Iakushin <pyakushin@qoollo.com>"]
edition = "2018"

[dependencies]
http = "0.2.1"
pearl = "0.3.1"
futures = { version = "0.3.5", features = ["thread-pool"] }
tokio = { version = "0.2.21", features = ["full"] }
serde = "1.0"
serde_derive = "1.0"
serde_yaml = "0.8"
log = "0.4"
log4rs = "0.12.0"
clap = "2.33"
bitflags = "1.2.1"
prost = "0.6"
bytes = "0.5.4"
stopwatch = "0.0.7"
hyper = "0.13.5"
humantime = "2.0.0"
chrono = "0.4.11"
dipstick = "^0.7.0"
mockall = "0.7.1"
cfg-if = "0.1.10"
env_logger = "0.7"
tonic = { version = "0.2.1", features = ["prost"] }
tower = "0.3.1"
tower-make = "0.3.0"
tower-service = "0.3.0"
tower-balance = "0.3.0"
tower-load = "0.3.0"
rocket = "0.4.4"
rocket_contrib = "0.4.4"
async-trait = "0.1.31"
termion = "1.5"
derive-new = "0.5.8"

[build-dependencies]
tonic-build = "0.2.0"

[lib]
name = "bob"

[[bin]]
name = "bobd"

[[bin]]
name = "bobc"

[[bin]]
name = "bobp"

[[bin]]
name = "ccg"
